.header .nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: yellow;
  padding: 25px 0;
  display: block;
  transition: all 0.5s ease;
}

.header .nav ul li a:hover {
  color: white;
  transform: scale(1.5);
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
}

.close-btn {
  background-color: red;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 16px;
  z-index: 1000;
  margin-bottom: 5%;
  margin-left: 45%;
  margin-top: 2%;
}

.close-btn:hover {
  color: black;
  transform: scale(1.2);
}

body {
  margin: 0;
  line-height: 1.5;
  background-color: #c9d0d0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.header {
  height: 70px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.5s ease;
  background-color: #121919;
  box-shadow: #121919 0px 8px 10px;
  position: -ms-page;
  text-align: right;
}

.header.fixed {
  background-color: #ffffff;
  position: fixed;
}

.header .fish-name {
  padding: 0 15px;
}

.header .fish-name a {
  text-decoration: none;
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  transition: all 0.5s ease;
}

.header.fixed .fish-name a {
  color: #000000;
}

.header .nav-toggle {
  width: 40px;
  height: 34px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  display: none;
}

.header.fixed .nav-toggle {
  border-color: #000000;
}

.header .nav-toggle span {
  height: 1px;
  display: block;
  width: 16px;
  background-color: #ffffff;
  position: relative;
  transition: all 0.5s ease;
}

.header .nav-toggle span:before,
.header .nav-toggle span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  transition: all 0.5s ease;
}

.img1 {
  float: left;
  height: 5%;
  width: 5.3%;
  margin-top: 0.5%;
}

.header.fixed .nav-toggle span,
.header.fixed .nav-toggle span:before,
.header.fixed .nav-toggle span:after {
  background-color: #000000;
}

.header .nav-toggle span:before {
  transform: translateY(-6px);
}

.header .nav-toggle span:after {
  transform: translateY(6px);
}

.header .nav {
  padding: 0 15px;
}

.header .nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .nav ul li {
  display: inline-block;
  margin-left: 30px;
}

.header.fixed .nav ul li a {
  color: #000000;
}

.header.fixed .nav ul li a:hover,
.div0 {
  display: inline-block;
  margin-top: 8%;
}

.div1 {
  width: 46%;
  display: inline-block;
  margin-left: 2%;
  margin-top: -20px;
  text-align: justify;
}

.div2 {
  width: 47%;
  display: inline-block;
  float: right;
  margin-right: 2%;
  margin-top: 0%;
  min-height: 400px;
  max-width: 70%;
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(Images/img1.jpg);
}

p {
  font-size: large;
}

h1 {
  text-align: center;
  color: #f48a00;
  font-size: 55px;
  text-shadow: #121919 5px 5px 5px;
  margin: 15px;
}

h1:hover {
  color: #ffffff;
}

.div6 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 100px;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.25);
}

.videobg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 75%;
}

.h3 {
  font-size: 90px;
  text-align: left;
  margin-left: -55%;
  margin-top: 25%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-shadow: 5px 5px black;
  color: #720f0f;
}

h4 {
  text-shadow: 4px 4px #262a2f;
  font-size: 50px;
  color: white;
  margin-top: 7%;
  margin-bottom: -5%;
}

.fst {
  margin-bottom: -15%;
  margin-top: -15.7%;
  width: 100%;
}

.video1 {
  width: 100%;
  height: 55%;
}

h2 {
  text-align: center;
}

.main {
  display: inline-block;
  margin-top: -10%;
}

.div7 {
  width: 37%;
  text-align: justify;
  margin: 5%;
  display: inline-block;
  border: #000000 solid;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 10%;
  border: top rignt radius 0;
  padding: 2%;
  background-color: rgb(88, 88, 173);
}

.div8 {
  width: 40%;
  float: right;
  margin-right: 0%;
  margin-left: 0%;
  margin-top: 7%;
  min-height: 450px;
  max-width: 70%;
  background-attachment: fixed;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 45%;
  background-image: url(Images/WhatsApp\ Image\ 2024-03-30\ at\ 1.36.28\ PM.jpeg);
}

.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.content1 {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content1 h1 {
  margin-top: 0;
  color: #414063;
}

.content1 p {
  color: #666;
}

.button:hover {
  background-color: #788fa8;
  transform: scale(1.1);
}

.image1 {
  flex: 1;
  margin-left: 20px;
}

.image1 img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 10px;
  height: 70%;
  margin-left: 28%;
}

.gallery-item {
  width: 200%;
  overflow: hidden;
  border-radius: 5px;
}

.gallery-item:hover {
  border: #000000 solid 1px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.flip-card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #dc0000;
}

.flip-card-back {
  background-color: #2e2827;
  color: rgb(255, 255, 255);
  transform: rotateY(180deg);
}

.p1 {
  text-align: justify;
  margin: 2%;
  margin-top: 5%;
}

.h6gallery {
  background-color: #262a2f;
}

h6:hover {
  transform: scale(1.1);
  color: #ffffff;
  background-color: #343e49;
}

h6 {
  text-align: center;
  color: #000000;
  font-size: 55px;
  text-shadow: #fca311 5px 5px 5px;
  margin: 15px;
}

h2 {
  font-weight: 70px;
  color: rgba(255, 255, 255, 0.7607843137);
}

.pd1 {
  font-size: 50px;
  text-align: center;
  text-shadow: #777 2px 2px;
}

.pddiv {
  width: 45%;
  display: inline-block;
  text-align: justify;
  font-size: medium;
  margin-left: 3%;
}

.pdp1 {
  font-size: x-large;
}

.pdimg1 {
  width: 45%;
  display: inline-block;
  float: right;
  margin-right: 2%;
  margin-top: 4%;
  min-height: 400px;
  max-width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(Images/hitoshi-namura-IRzfQm79qxQ-unsplash.jpg);
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

.pdimg2 {
  width: 45%;
  display: inline-block;
  margin-left: 5%;
  margin-top: -7%;
  border-radius: 10%;
  min-height: 450px;
  max-width: 70%;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url(Images/last.jpg);
}

.pbdiv2 {
  width: 45%;
  display: inline-block;
  text-align: justify;
  font-size: medium;
  float: right;
  margin-top: -9%;
}

.pdp2 {
  font-size: x-large;
  margin-right: 4%;
  margin-left: -5%;
}

.last {
  margin-top: 10%;
  width: 100%;
}/*# sourceMappingURL=style.css.map */